.is-clickable:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.7) !important;
}

.is-bold {
  font-weight: bold;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  min-height: 1500px;
  background-color: #F5F5F5;
  background-image: url(./images/snow_dog_factory.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;  
}

