.is-clickable {
  cursor: pointer;
}

.is-clickable:hover {
  background-color: rgba(255,255,255,0.7) !important;
}



.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  background-image: url(./images/snow_dog3.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

